.clients{
    @include section;
    
    @media screen and (min-width: 1200px) {
            @include section (94px, 94px);
        }
}
.list-clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.list-clients__item {
    flex-basis: calc((100% - 30px * (2 - 1)) / 2);

    @media screen and (min-width: 768px) {
            flex-basis: calc((100% - 30px * (3 - 1)) / 3);
        }
    
        @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 30px * (6 - 1)) / 6);
        }
}

.list-clients__link {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid currentColor;
    border-radius: 4px;
    // width: 170px;
    height: 92px;
    color: #afb1b8;

    transition: color $time-transition;

    &:hover, &:focus{
        color: $accent-color;
    }
}


.list-clients__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}